apiVersion: apps/v1
kind: Deployment
metadata:
  name: business-dashboard
  labels:
    app: business-dashboard
spec:
  replicas: 2

  progressDeadlineSeconds: 1800

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  selector:
    matchLabels:
      app: business-dashboard

  template:
    metadata:
      labels:
        app: business-dashboard
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: business-dashboard
        image: anasell/business-dashboard:latest
        imagePullPolicy: Always

        ports:
        - containerPort: 5000

        env:
        - name: FLASK_ENV
          value: "production"

        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"

        livenessProbe:
          httpGet:
            path: /healthz
            port: 5000
          initialDelaySeconds: 90
          periodSeconds: 30
          failureThreshold: 5

        readinessProbe:
          tcpSocket:
            port: 5000
          initialDelaySeconds: 20
          periodSeconds: 10
          failureThreshold: 10
---
apiVersion: v1
kind: Service
metadata:
  name: business-dashboard-service
spec:
  type: NodePort
  selector:
    app: business-dashboard
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30007
